
/* base */

:root {
    --background-color:
        white;
    --font-family:
        'Roboto', sans-serif;
    --foreground-color:
        white;
    --side-margin:
        20pt;
}

html {
    font-family:    var( --font-family );
}

body {
    background:     var( --background-color );
    color:          var( --foreground-color );
    margin:         0;
    min-height:     100vh;
    overflow:       hidden;
}



/* page */

.page-container {
    display:            flex;
    flex-direction:     column;
    min-height:         100vh;
}

header {
    flex:       1;
}

.page-title {
    color:          black;
    font-size:      50pt;
    font-weight:    900;
    padding:        var( --side-margin );
}

@media ( max-width: 700px ) {
    .page-title {
        font-size:      35pt;
    }
}

header > div > a {
    --link-color:
        #A56416;
    --link-transition-duration:
        0.5s;

    border-bottom:          5pt solid var( --link-color );
    color:                  var( --link-color );
    padding-bottom:         0.07em;
    text-decoration:        none;
    transition-duration:    var( --link-transition-duration );
}

header > div > a:hover {
    --link-hover-color:
        #C94824;

    border-color:           var( --link-hover-color );
    color:                  var( --link-hover-color );
    transition-duration:    var( --link-transition-duration );
}



/* Boxes */

.boxes {
    display:        flex;
    flex:           auto;
    max-height:     320pt;
    min-height:     320pt;
    overflow-x:     scroll;
    padding:        var( --side-margin );
}



/* Single Box */

.box-container {
    background-color:       black;
    flex:                   auto;
    margin-right:           var( --side-margin );
    max-height:             fit-content;
    max-width:              200pt;
    padding:                10pt;
}

.box {
    color:              var( --foreground-color );
    text-decoration:    none;
}

.box-title {
    --box-title-transition-duration:
        0.3s;

    border-top:             2pt solid var( --foreground-color );
    font-family:            inherit;
    font-size:              20pt;
    font-weight:            bold;
    padding-bottom:         10pt;
    padding-top:            10pt;
    transition-duration:    var( --box-title-transition-duration );
}

a:hover > .box-title {
    font-size:              50pt;
    transition-duration:    var( --box-title-transition-duration );
}

canvas {
    height:             200pt;
    margin-bottom:      0;
    width:              200pt;
}
