html {
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: black;
  color: white;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}
#background {
  position: fixed;
  z-index: -10;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  flex: 1;
}
.page-title {
  color: black;
  font-size: 50pt;
  font-weight: 900;
  padding: 30pt;
}
@media (max-width: 700px) {
  .page-title {
    font-size: 35pt;
  }
}
.kary-logo {
  background-image: url("kary-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50pt;
  left: 30pt;
  opacity: 0.4;
  position: fixed;
  top: 30pt;
  transition-duration: 0.3s;
  width: 50pt;
}
.kary-logo:hover {
  opacity: 0.8;
  transition-duration: 0.3s;
}
.boxes {
  display: flex;
  flex: auto;
  max-height: 320pt;
  min-height: 320pt;
  overflow-x: scroll;
  padding: 30pt;
}
.box-container {
  background-color: black;
  flex: auto;
  margin-right: 30pt;
  max-height: fit-content;
  max-width: 200pt;
  padding: 10pt;
}
.box {
  color: white;
  text-decoration: none;
}
.box-title {
  border-top: 2pt solid white;
  font-family: inherit;
  font-size: 20pt;
  font-weight: bold;
  padding-bottom: 10pt;
  padding-top: 10pt;
  text-align: right;
  transition-duration: 0.3s;
}
a:hover > .box-title {
  font-size: 50pt;
  transition-duration: 0.3s;
}
canvas {
  height: 200pt;
  margin-bottom: 0;
  width: 200pt;
}
.end-spacer {
  min-width: 30pt;
}
