/* base */
html {
  font-family: 'Roboto', sans-serif;
}
body {
  background-image: url("background.png");
  background-size: 50px 50px;
  color: white;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}
/* page */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  flex: 1;
}
.page-title {
  color: black;
  font-size: 50pt;
  font-weight: 900;
  padding: 20pt;
}
@media (max-width: 700px) {
  .page-title {
    font-size: 35pt;
  }
}
header > div > a {
  border-bottom: 5pt solid #A56416;
  color: #A56416;
  padding-bottom: 0.07em;
  text-decoration: none;
  transition-duration: 0.5s;
}
header > div > a :hover {
  border-color: #C94824;
  color: #C94824;
  transition-duration: 0.5s;
}
/* Boxes */
.boxes {
  display: flex;
  flex: auto;
  max-height: 320pt;
  min-height: 320pt;
  overflow-x: scroll;
  padding: 20pt;
}
/* Single Box */
.box-container {
  background-color: black;
  flex: auto;
  margin-right: 20pt;
  max-height: fit-content;
  max-width: 200pt;
  padding: 10pt;
}
.box {
  color: white;
  text-decoration: none;
}
.box-title {
  border-top: 2pt solid white;
  font-family: inherit;
  font-size: 20pt;
  font-weight: bold;
  padding-bottom: 10pt;
  padding-top: 10pt;
  transition-duration: 0.3s;
}
a:hover > .box-title {
  font-size: 50pt;
  transition-duration: 0.3s;
}
canvas {
  height: 200pt;
  margin-bottom: 0;
  width: 200pt;
}
