html {
  font-family: 'Roboto', sans-serif;
}
* {
  user-select: none;
}
body {
  color: rgba(255, 255, 255, 0.4);
  margin: 0;
  overflow: hidden;
}
.container {
  display: flex;
  height: 100vh;
  width: calc(100vw - 30pt * 2);
}
.title-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  height: calc(100vh - 2 * 30pt);
  margin: 30pt;
  margin-right: 30pt;
  max-width: 120pt;
  min-width: 120pt;
}
.title-name-container {
  flex: 1;
  min-width: max-content;
}
.title-name {
  flex: 1;
  font-size: calc(8.4 * 15pt);
  font-weight: 900;
  letter-spacing: 1pt;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: calc(calc(8.4 * 15pt) - 20pt) calc(8.4 * 15pt);
}
a.back-button {
  border-top: 2pt solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
  flex: auto;
  font-size: calc(15pt * 0.9);
  font-weight: 700;
  letter-spacing: 1pt;
  margin-top: 10pt;
  max-height: fit-content;
  padding-top: 10pt;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.3s;
  width: 100pt;
}
a.back-button:hover {
  border-color: transparent;
  border-top-color: white;
  color: white;
  padding-bottom: calc(10pt + 2pt);
  transition-duration: 0.3s;
}
canvas {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -10;
}
